<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myquiz"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logocr"
        android:label="CricketQuiz"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyQuiz"
        tools:targetApi="31" >
        <activity
            android:name=".FA"
            android:exported="false" />
        <activity
            android:name=".RA"
            android:exported="false" />
        <activity
            android:name=".TF"
            android:exported="false" />
        <activity
            android:name=".MCQ"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="CKQuiz"
            android:theme="@style/Theme.MyQuiz.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>